.un-body
    .container
        .un-body__firstsection
            .un-body__title
                p.un-title.un-title--small.un-title--center
                    | Digital Creatives
            .un-body__text
                p.un-text.un-text--medium.un-text--center
                    | We quickly bring ideas to life with tangible
                    | prototypes, and refine until the very last moment
                    | in close collaboration with our clients.
        .un-body__secondsection
            .un-body__title
                p.un-title.un-title--small.un-title--center
                    | Our ideology
            .un-body__left-block
                .un-body__left-block__img-block
                    img(src="assets/img/guy.png")
                .un-body__left-block__blue-block(data-500-top="top:50px;" data-25-top="top:180px;")
                .un-body__left-block__text-block
                    p.un-text.un-text--big
                        | Ideas are easy to
                        | come by. Execution is
                        | really, really
                        | hard.
            .un-body__right-block
                .un-body__right-block__text-block
                    p.un-title.un-title--big
                        | Learn >
                        | Experiment >
                        | Fail >
                        | Learn >
                        | Experiment >
                        | Win
