.un-footer
    .container
        .un-footer__left-block
            .un-footer__left-block-top
                .un-logo
                    .un-logo__figure
                            img(src="assets/img/logo/bEllipse.png")
                    .un-logo__figure
                            img(src="assets/img/logo/bRectangle.png")
                    .un-logo__figure
                            img(src="assets/img/logo/bEllipse.png")
                    p.un-footer__logo.un-title.un-title--small.un-title--black unity
                p.un-text.un-footer__text.un-text--small.un-text--black
                    | Have a project? Call us 
                    span
                      | 1.800.987.6321
            .un-footer__menu-block
                    a.un-footer__link.un-link.un-link--small.un-link--black(href="#") Home
                    a.un-footer__link.un-link.un-link--small.un-link--black(href="#") About us
                    a.un-footer__link.un-link.un-link--small.un-link--black(href="#") What we do
                    a.un-footer__link.un-link.un-link--small.un-link--black(href="#") Meet the team
                    a.un-footer__link.un-link.un-link--small.un-link--black(href="#") Our work
                    a.un-footer__link.un-link.un-link--small.un-link--black(href="#") Get in touch
        .un-footer__right-block
            .un-footer__social
                a(href="#" target="_blank")
                    img(src="assets/img/social/facebook.png")
                a(href="#" target="_blank")
                    img(src="assets/img/social/instagram.png")
                a(href="#" target="_blank")
                    img(src="assets/img/social/linkedin.png")
                a(href="#" target="_blank")
                    img(src="assets/img/social/googleplus.png")
                a(href="#" target="_blank")
                    img(src="assets/img/social/twitter.png")
                a(href="#" target="_blank")
                    img(src="assets/img/social/dribbble.png")
            .un-footer__contact
                p.un-text.un-text--xxsmall.un-text--black
                    img(src="assets/img/phone.png")
                    | Call Now: 0800  456  789
                p.un-text.un-text--xxsmall.un-text--black
                    img(src="assets/img/mail.png")
                    | Mail: info@unity.com

script(src="assets/js/vendor/jquery-3.2.1.min.js")
script(src="assets/js/skrollr.min.js")
script(src="assets/js/functions.js")
script(type="text/javascript" src="assets/js/vendor/slick.min.js")
script(type="text/javascript" src="src/js/bundle.js")
