html
    head
        title ""
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0")
        link(href="assets/css/app.css" rel="stylesheet")
        link(href="assets/css/vendor/slick.css" rel="stylesheet")
    body
        .abs-black
        .un-header
            .container
                a.fa.fa-bars.un-header__mobile-button.menu-open_button.mobile-only
                .un-logo
                    .un-logo__figure
                        img(src="assets/img/logo/wEllipse.png")
                    .un-logo__figure
                        img(src="assets/img/logo/wRectangle.png")
                    .un-logo__figure
                        img(src="assets/img/logo/wEllipse.png")
                    p.un-header__logo.un-title.un-title--small.un-title--white unity
                p.un-header__text.un-title.un-title--medium.un-title--center.un-title--white
                    |Great experiences build
                    br
                    |great brands.
                .un-header__menu-block
                    a.fa.fa-times.un-header__mobile-button.menu-close_button.mobile-only
                    a.un-header__link.un-link.un-link--medium.un-link--white(href="#") Home
                    a.un-header__link.un-link.un-link--medium.un-link--white(href="#") About us
                    a.un-header__link.un-link.un-link--medium.un-link--white(href="#") What we do
                    a.un-header__link.un-link.un-link--medium.un-link--white(href="#") Meet the team
                    a.un-header__link.un-link.un-link--medium.un-link--white(href="#") Our work
                    a.un-header__link.un-link.un-link--medium.un-link--white(href="#") Get in touch
