.un-team
    .container
        .un-team__title
            p.un-title.un-title--small
                |   Meet the team
        .un-team__text
            p.un-title.un-title--big
                |   We're a small team,
                br
                |   but have a ton of experience
        .un-team__cofounder-blocks
            .un-team__cofounder-blocks-wrapper
                .un-team__img-block
                    img.un-team__cofounder-avatar(src="assets/img/cofounder-avatar-1.png")
                .un-team__text-block
                    p.un-text.un-text--small
                        |   Daivd Smith
                    span.un-text.un-text--xsmall
                        |   Co-Founder, CEO
                    .un-team__text-block__social
                        a.fa.fa-facebook
                        a.fa.fa-twitter
                        a.fa.fa-instagram
            .un-team__cofounder-blocks-wrapper
                .un-team__img-block
                    img.un-team__cofounder-avatar(src="assets/img/cofounder-avatar-2.png")
                .un-team__text-block
                    p.un-text.un-text--small
                        |   Daivd Smith
                    span.un-text.un-text--xsmall
                        |   Co-Founder, CEO
                    .un-team__text-block__social
                        a.fa.fa-facebook
                        a.fa.fa-twitter
                        a.fa.fa-instagram
            .un-team__cofounder-blocks-wrapper
                .un-team__img-block
                    img.un-team__cofounder-avatar(src="assets/img/cofounder-avatar-3.png")
                .un-team__text-block
                    p.un-text.un-text--small
                        |   Daivd Smith
                    span.un-text.un-text--xsmall
                        |   Co-Founder, CEO
                    .un-team__text-block__social
                        a.fa.fa-facebook
                        a.fa.fa-twitter
                        a.fa.fa-instagram