.un-work
    .container
        .un-work__title
            p.un-title.un-title--small.un-title--center
                |   our featured work
        .un-work__text
            p.un-title.un-title--big.un-title--center
                |   We create engaging
                br
                |   experiences through
                br
                |   creativity & craft
    .un-work__slider
        .un-work__slider-slide
            span
                img(src="assets/img/slider/un-slider__slide-1.png")
        .un-work__slider-slide
            span
                img(src="assets/img/slider/un-slider__slide-2.png")
        .un-work__slider-slide
            span
                img(src="assets/img/slider/un-slider__slide-1.png")
        .un-work__slider-slide
            span
                img(src="assets/img/slider/un-slider__slide-2.png")
        .un-work__slider-slide
            span
                img(src="assets/img/slider/un-slider__slide-4.png")

